body {
  padding: 40px 70px;
}
h4,
li,
footer {
  font-family: "Poppins", sans-serif;
}
h4 {
  font-weight: 300;
  padding: 20px 40px;
  margin: 0;
}
ul {
  padding: 0px 70px 0 0;
  margin: 50px 50px;
  text-align: center;
}
li {
  font-size: 20px;
  position: fixed;
  list-style: none;
  top: 25px;
  right: 60px;
}
footer {
  font-size: 14px;
  font-weight: 300;
  margin: 7px;
}
.date-time,
.wind-humidity {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.card-content {
  background-image: url("../images/landscape-2.jpg");
}

.city,
.temperature,
.currently {
  font-family: "Aboreto", cursive;
}

.search-bar,
.search-button,
.current-location-button {
  display: inline;
}

.city,
.temperature {
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}
.temp {
  font-weight: 600;
}
.currently {
  font-size: 45px;
  font-weight: 400;
  padding: 50px 100px 20px 40px;
  margin: 20px 0 0;
}
.date-time {
  padding: 0px 100px 10px 40px;
  font-size: 25px;
}
.wind-humidity {
  line-height: 30px;
  padding: 20px 50px;
  margin: 50px 0 50px;
}

#weather-icon {
  display: block;
  margin: 0 auto;
}

#night-temp {
  color: rgba(39, 33, 66, 0.4);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: purple;
}
